.spinner-wrapper{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 9999;
    display: flex;
    align-items: center;
    justify-content: center;
}
 
.spinner {
position: relative;
width: 8rem;
height: 8rem;
border-radius: 50%;
}

.spinner::before,
.spinner:after{
content: "";
position: absolute;
border-radius: 50%;
}

.spinner:before {
width: 100%;
height: 100%;
background-image: linear-gradient(to left,#191643,#9b94fa,#16133c);
animation: spin .5s infinite linear;
}
.spinner:after {
width: 90%;
height: 90%;
background-size: cover;
background-color: #FAF0FB;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);

}

@keyframes spin {
    to {
    transform: rotate(360deg);
}

}
 
.main-content{
width: 100%;
height: 100vh;
background: url("https://source.unsplash.com/random/4000x4000") center no-repeat;
background-size: cover;

}