/* SIDEBAR CSS */
.bs-canvas-overlay {
    opacity: 0;
    z-index: -1;
 }

.bs-canvas-overlay.show {
   opacity: 0.85;
   z-index: 1040;
}

.bs-canvas {
   top: 0;
   width: 0;
   z-index: 1110;
   overflow-x: hidden;
   overflow-y: auto;
   background: #FAF0FB !important;

}

.bs-canvas-left {
   left: 0;
}

.bs-canvas-right {
   right: 0;
}
 
.bs-canvas-anim {
   transition: all .4s ease-out;
   -webkit-transition: all .4s ease-out;
   -moz-transition: all .4s ease-out;
   -ms-transition: all .4s ease-out;
}

/* SIDEBAR CSS */


/* MARQUEE */
.marquee {
    width: 450px;
    line-height: 50px;
    background-color: red;
    color: white;
    white-space: nowrap;
    overflow: hidden;
    box-sizing: border-box;
 }
 .marquee p {
    display: inline-block;
    padding-left: 100%;
    animation: marquee 15s linear infinite;
 }
 @keyframes marquee {
    0%   { transform: translate(0, 0); }
    100% { transform: translate(-100%, 0); }
 }
 /* MARQUEE */



 
/* SCROLLBAR */
/* width */
::-webkit-scrollbar {
    width: 4px;
    height: 4px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #0c407d; 
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #007BFF; 
  }
 /* SCROLLBAR */
 



 /* OTHER STYLES */


.bg-main-color{
    background-color: #0a081d !important;
    color: whitesmoke !important;
}


html, body {
    height: 100%;
    margin: 0;
}
.content {
    min-height: 100%;
}
.content-inside {
    padding: 20px;
    padding-bottom: 50px;
}
.nav_bar{
    height: 55px;
}
.footer {
    height: 45px;
    margin-top: -45px;
    width: 100%;
}

/* FORM CONTAINER */

.glass_container{
   border: 0px solid rgb(29, 29, 29) !important;
   background: rgba( 255, 255, 255, 0.25 );
   box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
   backdrop-filter: blur( 4px );
   -webkit-backdrop-filter: blur( 4px );
   border-radius: 10px;

}
.login_content{
   background-image: url('../img/background.jpg') ;
   -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.form_container{
   border: 0px solid rgb(29, 29, 29) !important;
   width: max-content;
   background: rgba( 255, 255, 255, 0.25 );
   box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
   backdrop-filter: blur( 4px );
   -webkit-backdrop-filter: blur( 4px );
   border-radius: 10px;
}
.form_container label, .form_container i{
   color: rgb(4, 3, 28) !important;
}
.form_container input, .form_container select, .input-group-text{
   border: 0 !important;
   background: #21252B !important;
   color: #c7c6c6 !important;
}
.form_container button{
   height: 35px !important;
   padding: 5px 25px !important;
   border-radius: 15px !important;
   outline: 0;
   box-shadow: none !important;
   transition: 0.6s;
   background-image: linear-gradient(to left,#191643,#9b94fa,#16133c);
   background-size: 200%;
   font-size: 10pt;
   color: white;   
   width: 200px;
}
.form_container button:hover{
   background-position: right;
   color: white;   
}
.form_container a, small{
   color: rgb(12, 12, 12) !important;   
   font-size: 10pt;
}
.form_container input i {
   color: rgb(39, 38, 38);
}
.form_container small{
   margin-right: auto !important;
}

.function_icon i{
   color:rgb(13, 82, 139) !important;
   font-size: 12pt !important;
}
.clickable_tr:hover{
   background:#c6c6c6 !important;
   cursor: pointer;
}


/* FORM CONTAINER */



.sis_content{
   background-image: url('../img/wave.svg');
   background-size: cover;
}

.i-design{

   font-size: 14pt !important;
   color: rgb(255, 254, 254) !important;

}
.btn-full-width btn{
   width: 100%;
}


/* TABS SCROLLABLE */
.tabbable .nav-tabs {
   overflow-x: auto;
   overflow-y:hidden;
   flex-wrap: nowrap;
   border-bottom: 0px !important;
  
}

.tabbable .nav-tabs .nav-link {
  white-space: nowrap;
  font-size: 9pt !important;
 
}
.tab_border{

   border-top-left-radius: 0px !important;  border-top-right-radius: 0px !important;
}
.tab_container label
{

   font-size: 10pt !important;
   
}

.tab_container a
{

   font-size: 9pt !important;
   
}


/* MODALS */
.input-modal .modal-body label, .modal-body input{
   font-size:10pt !important;
}
.input-modal .modal-body label{
  color: #000000 !important;
}
.input-modal .modal-content {
   border-left: 2px outset #2569C3;
}
.input-modal-file{
   border: 2px dashed #2569C3;
}

